/*
!/.gitignore
!/README.md
!/CONTRIBUTING.md
!/LICENSE-NOTICES.md
!/VERSION
!/templates.json
!/export-manifest.json
!/templates/
!/scripts/
!/tests/
!/.github/
__pycache__/

!/.python-version
!/LICENSE
!/NOTICE
!/LICENSE-NOTICES.md
!/licenses/
!/licenses/**

!/assets/
/assets/*
!/assets/brand/
/assets/brand/*
!/assets/brand/logo-black.svg
!/assets/brand/logo-white.svg
